<div class="ui pointing menu nav-menu">
  <a class="item" routerLinkActive="active" routerLink="/alertas">
    <i class="fa fa-exclamation-triangle pad-r-5"></i> Alertas
  </a>
  <!-- <a class="item" routerLinkActive="active" routerLink="/action-plain">
    <i class="fa fa-cogs pad-r-5"></i> Planos de Ações
  </a> -->

  <div class="right menu">

    <a class="item" suiPopup popupInverted popupText="Notificações" >
      <i class="fa fa-bell"></i>
      <div class="ui red circular mini label">5</div>
    </a>
    <!-- <a class="item" suiPopup popupInverted popupText="Configurações" (click)="onToggleSetting()">
      <i class="fa fa-cogs"></i>
    </a> -->
    <!-- <notification></notification>
    <setting></setting> -->
  </div>
</div>
