<div class="ui segment shadow-2 mar-b-10">
  <a class="ui teal ribbon label m-b-ribbon-15 m-l-ribbon-3">Home</a>

  <div class="ui animated button" tabindex="0" style="margin-left: 84%;"
    (click)="onClickNewCustomerService()">
    <div class="visible content">Novo Atendimento</div>
    <div class="hidden content" suiPopup popupInverted popupText="Criar um novo atendimento diário?">
      <i class="right arrow icon"></i>
    </div>
  </div>
  <div class="ui segment shadow-2 mar-b-10">
    <!-- <div class="ui raised very padded text container segment"> -->
    <!-- <a class="ui teal ribbon label m-b-ribbon-15 m-l-ribbon-3">Conclusão</a> -->
    <!-- </div> -->
    <img class="ui large circular image" src="../../assets/img/logo.png" style="margin-left: 35%;width: 35%;" />
  </div>
</div>
