<div class="ui segment shadow-2 mar-b-10">
  <a class="ui teal ribbon label m-b-ribbon-15 m-l-ribbon-3">Plano de Ação</a>
  <div class="fields">
    <div class="eight wide field required" >
        <!-- [ngClass]="{'error': empresa.invalid && (empresa.touched || formAlert.submitted )}" -->
      <label suiPopup popupInverted popupText="Minha Empresa: {{ alertInvolved.company }}">Empresa:</label>
      <input type="text" name="empresa" [(ngModel)]="alertInvolved.company"  [disabled]="true" #empresa="ngModel">
      <!-- <small class="helper" *ngIf="empresa.hasError('required') && (empresa.touched || formAlert.submitted )">O campo é obrigatório.</small>
      <small class="helper" *ngIf="empresa.hasError('minlength') && (empresa.touched || formAlert.submitted )">O valor mínimo é 4 caracteres.</small> -->
    </div>

    <div class="eight wide field required" suiPopup popupInverted popupText="{{ actionPlan.rootCause }}" popupPlacement="bottom left">
      <label suiPopup popupInverted popupText="Causa raiz do plano de ação.">Por que aconteceu?</label>
      <input type="text" name="causaRaiz" [(ngModel)]="actionPlan.rootCause" #causaRaiz="ngModel" [disabled]="true">
      <!-- <small class="helper" *ngIf="causaRaiz.hasError('required') && (causaRaiz.touched || formAlert.submitted )">O campo é obrigatório.</small>
      <small class="helper" *ngIf="causaRaiz.hasError('minlength') && (causaRaiz.touched || formAlert.submitted )">O valor mínimo é 4 caracteres.</small> -->
    </div>
  </div>
  <div class="fields">
    <div class="eight w-25 field required" >
      <label>Data Início</label>
      <div class="ui left icon input">
        <i class="calendar icon"></i>
        <p-calendar name="dataInicio" #dataInicio="ngModel" [(ngModel)]="actionPlan.creationDate" [locale]="calendar_lang" showIcon="true"
          dateFormat="dd/mm/yy" showButtonBar="true"  [maxDate]="actionPlan.endDate" readonlyInput="true" ></p-calendar>
      </div>
      <!-- <small class="helper" *ngIf="dataInicio && dataInicio.hasError('required') && (dataInicio.touched || formAlert.submitted )">Campo obrigatório.</small> -->
    </div>

    <div class="five w-25 field required" >
      <label>Data Fim</label>
      <div class="ui left icon input">
        <i class="calendar icon"></i>
        <p-calendar name="dataFim" #dataFim="ngModel" [(ngModel)]="actionPlan.endDate" [locale]="calendar_lang" showButtonBar="true"
          showIcon="true" dateFormat="dd/mm/yy" [minDate]="actionPlan.creationDate"  readonlyInput="true" ></p-calendar>
      </div>
      <!-- <small class="helper" *ngIf="dataFim && dataFim.hasError('required') && (dataFim.touched || formAlert.submitted )">Campo obrigatório.</small> -->
    </div>
  </div>
  <div class="field required">
    <label suiPopup popupInverted popupText="Descrição do plano de ação">Plano de ação:</label>
    <textarea name="descriptionRootCause" rows="3" placeholder="Neste campo, insira uma breve descrição do evento utilizando redação simples e linguagem de fácil entendimento."
      [(ngModel)]="actionPlan.description" #descriptionRootCause="ngModel"></textarea>
    <!-- <small class="helper" *ngIf="descriptionRootCause.hasError('required') && (descriptionRootCause.touched || formAlert.submitted )">O campo é obrigatório.</small> -->
  </div>

  <!-- <div class="fields">
    <div class="fourteen wide field">
      <label>Anexo:</label>
      <p-fileUpload mode="basic" name="attachmentsActionPlan[]" chooseLabel="Upload de arquivo" maxFileSize="1000000" (onUpload)="onAttachmentsUploadInvolved($event)"
        uto="true"></p-fileUpload>
    </div>
  </div> -->

  <div class="ui center aligned basic segment">
      <div class="ui inverted divider"></div>
      <div class="two wide field" style="margin-left:45%">
        <button type="button" class="ui button small btn-green fluid" suiPopup popupInverted popupText="Adicionar plano de ação a tabela"
        (click)="onAddActionPlan(formAlert)" [disabled]="isActionPlanInvalid()">
        <i class="right fa fa-arrow-down"></i> {{ !actionPlan.id ? 'Adicionar' : 'Alterar' }}</button>
      </div>
    </div>
</div>

<div class="ui segment shadow-2 mar-b-10">
  <a class="ui teal ribbon label">Meus Planos de ações</a>
  <div class="fields">
    <div class="sixteen wide field h-scroll mar-t-10">
      <p-dataTable [value]="alertInvolved.actionsPlans" [reorderableColumns]="true" [responsive]="true" rowHover="true">
        <p-column field="id" header="#" [style]="{'width':'60px', 'text-align': 'center'}">
          <ng-template pTemplate="body" let-col let-id="rowData">
            <span suiPopup popupInverted popupText="{{ id[col.field] ? 'Código do plano de ação: ' + id[col.field] : 'Plano de ação não salvo!' }}">
                {{ id[col.field] ? id[col.field] : '#' }}</span>
          </ng-template>
        </p-column>
        <p-column field="description" header="Plano de Ação" [style]="{'white-space':'nowrap', 'overflow':'hidden', 'text-overflow': 'ellipsis', 'width': '400px'}">
          <ng-template pTemplate="body" let-col let-description="rowData">
            <span suiPopup popupInverted popupText="{{ description[col.field] }}">{{ description[col.field] }}</span>
          </ng-template>
        </p-column>
        <p-column field="rootCause" header="Causa Raiz" [style]="{'white-space':'nowrap', 'overflow':'hidden', 'text-overflow': 'ellipsis', 'width': '200px'}">
          <ng-template pTemplate="body" let-col let-causaRaiz="rowData">
            <span  suiPopup popupInverted popupText="{{ causaRaiz[col.field] }}">{{ causaRaiz[col.field] }}</span>
          </ng-template>
        </p-column>
        <p-column field="status" header="Situação" [style]="{'width':'120px'}">
          <ng-template pTemplate="body" let-col let-status="rowData">
            <span class="label-status span-status" [ngClass]="getColorForStatusActionPlan(status[col.field])"
              suiPopup popupInverted popupText="{{ getLabelStatusEnum(status[col.field]) }}">
              {{ getLabelStatusEnum(status[col.field]) }}</span>
          </ng-template>
        </p-column>
        <p-column field="createdBy" header="Responsável">
          <ng-template pTemplate="body" let-col let-createdBy="rowData">
            <span suiPopup popupInverted popupText="{{ createdBy[col.field] }}">
              {{ createdBy[col.field] }}</span>
          </ng-template>
        </p-column>
        <p-column field="creationDate" header="Data Início">
          <ng-template pTemplate="body" let-col let-creationDate="rowData">
            <span suiPopup popupInverted popupText="{{ creationDate[col.field] | date: 'dd/MM/yyyy' }}">
              {{ creationDate[col.field] | date: 'dd/MM/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="endDate" header="Data Fim">
          <ng-template pTemplate="body" let-col let-endDate="rowData">
            <span suiPopup popupInverted popupText="{{ endDate[col.field] | date: 'dd/MM/yyyy' }}">
               {{ endDate[col.field] | date: 'dd/MM/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column header="Ações" styleClass="col-button" [style]="{'width':'90px'}">
          <ng-template let-selected="rowData" pTemplate="body">
            <div class="center-text">
              <button type="button" class="ui button small btn-clean" suiPopup popupInverted popupText="Editar" (click)="onEditActionPlan(selected)">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" class="ui button small btn-clean" suiPopup popupInverted popupText="Excluir" (click)="onRemoveActionPlain(selected)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>
