<div class="menu-sidebar">
  <!-- <img src="../assets/sgec_logo.png" alt="SGEC"> -->
  <h3>SGPD</h3>

  <div class="ui clearing divider"></div>

  <sui-accordion class="styled fluid inverted" [closeOthers]="false">
    <sui-accordion-panel [isOpen]="true">
      <div title>
        <i class="dropdown icon"></i>
        Menu
      </div>
      <div content class="ui secondary vertical menu inverted">
          <menu></menu>
      </div>
    </sui-accordion-panel>

    <!-- <sui-accordion-panel>
      <div title>
        <i class="dropdown icon"></i>
        Filtros
      </div>
      <div content>
        <p>Sub Menu</p>
      </div>
    </sui-accordion-panel> -->
  </sui-accordion>
</div>
