<section class="content" style="margin-top: 10%;" >
    <div class="error-page">
        <h2 class="headline text-yellow">403</h2>

        <div class="error-content" >
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Acesso negado.</h3>
            <br/>
            <p>
                Desculpe, você não está autorizado a acessar a página que solicitou. Se você acha que isso é um engano, entre em contato
                com a gente. <a href="#!/comunicacoesIniciais">Home</a>
            </p>
        </div>
        <!-- /.error-content -->
    </div>  
    <!-- /.error-page -->
    <div>
    </div>
</section>